body{
    background-color: bisque;
}
h1{
    color: blue;
    text-align: center;
    font-family: 'Times New Roman', Times, serif; 
    font-size: 64px;
}
div{
   width: 300px; 
   background-color: aquamarine;
   padding: 20px;
   text-align: center;
}
span {
    background-color: rgb(235, 140, 16);
    padding: 20px;
    text-align: center;
}